:root {
	--corMenu: linear-gradient(to left, #1B4965, #3D6D89);
	--corMenuHover: #3D6D89;
	--tamanhoFonte: 14px;
	--fonteMobileSize: 10px;
	--fonte: 'Arial', 'Consolas';
	--btnMobileZIndex: 2 !important;
	--dialogImagemZIndex: 3 !important;
	--ajaxZIndex: 4 !important;
	--DIV_MENU_TOP: 109px;
	--menuZIndex: 9999999999999 !important;
	--corBackBody: white;
	--corTitulo: black;
}

body .ui-menu {
	border: none !important;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link * {
	color: #495057 !important;
}

.ui-menuitem-link.ui-submenu-link.ui-corner-all.ui-state-hover {
	background: var(--corMenu) ! important;
}

div.ui-menu.ui-menu-dynamic, div.ui-menu.ui-menu-dynamic  ul li {
	min-width: unset !important;
	max-width: unset !important;
	width: auto !important;
	height: auto !important;
	text-align: center;
}

div.ui-menu.ui-menu-dynamic {
	position: absolute !important;
}

.ui-datatable table {
	width: auto !important;
	table-layout: auto !important;
	text-align: center !important;
}
.txt-n{
	font-weight: bold !important;
}
div.ui-menu.ui-menu-dynamic ul.ui-menu-list.ui-helper-reset {
	position: absolute !important;
	background: white !important;
	position: absolute !important;
	right: 10px;
	top: -85px;
	box-shadow: 0 1px 1px rgb(0, 0, 0, .5), 0 -1px 1px rgb(0, 0, 0, .5), 1px
		0 1px rgb(0, 0, 0, .5), -1px 0 1px rgb(0, 0, 0, .5);
}

div.tabelaPagamentoParcela {
	margin: 15px;
}

.coluna-filtro-oculto .ui-column-filter {
	display: none !important;
}

button.ui-button {
	margin: .1em !important;
}

.pesquisaPaciente {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.pesquisaPaciente input {
	max-width: 250px !important;
	width: 100% !important;
	text-align: center;
}

ul.ui-menu-list, ul.ui-menu-list>li.ui-menuitem {
	width: auto !important;
}

* {
	font-size: var(--tamanhoFonte) !important;
}

.dialogLogin .ui-dialog-content.ui-widget-content {
	height: auto !important;
	padding: 15px 30px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.conteudo-loading {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

ul.ui-selectonemenu-items li {
	overflow: visible !important;
	display: block;
	width: 100%;
	text-align: center !important;
}

ul.ui-selectonemenu-items {
	background: white;
	border: gray;
	z-index: 9999999999;
	border-radius: 4px;
	margin: 10px !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0
		rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
	overflow-y: scroll !important;
	max-height: 200px !important;
}

body .ui-button.ui-state-focus {
	box-shadow: none !important;
}

.labelConsultaDados {
	margin: 10px !important;
	display: block;
}

.ui-datepicker {
	font-size: 70% !important;
	transform: scale(0.6); /* Reduz o tamanho geral */
	position: fixed !important;
	z-index: 9999 !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
}

.divBtnMenu {
	position: fixed !important;
	top: var(--DIV_MENU_TOP);
	z-index: 2;
	width: 100%;
	height: auto;
	margin: 9px 0;
}

body .ui-menu.ui-menubar .ui-menu-list .ui-menuitem .ui-menuitem-link span
	{
	font-size: 14px !important;
}

.ui-menu-list * {
	margin: 0 !important;
	padding: 0 !important;
}

.ui-menu-list a {
	white-space: nowrap;
	padding: 5px 20px !important;
}
/* Menu principal */
ul.ui-menu-list {
	margin: 0;
	padding: 0;
	width: auto; /* Ajusta dinamicamente */
}

/* Submenu */
ul.ui-widget-content {
	margin: 0;
	padding: 5px 25px !important;
	min-width: 100% !important;
	width: auto !important;
	max-width: none !important;
	position: absolute;
	left: 0;
	top: 100%;
	text-align: center !important;
}

.ui-menu.ui-menubar {
	top: var(--DIV_MENU_TOP) !important;
	padding: 0 !important;
	margin-top: .5px;
	position: absolute !important;
	transition: top 1s ease-in-out;
	width: 100% !important;
	max-width: 100vw !important;
	/* Ajuste conforme o tamanho do container */
}

.ui-sticky-ghost {
	display: none !important;
}

#btFecharMenu {
	position: relative;
	z-index: 9999999999;
	top: 10px;
	left: calc(100% - 60px);
	display: block;
	cursor: pointer;
	width: 40px;
	color: black;
	background: white;
	border: 0.1px solid;
	text-align: center;
	background: white;
}

.dlgGrafico {
	left: 50% !important;
	top: 50% !important;
	transform: translate(-50%, -50%) !important;
	width: auto !important;
}

.fc-v-event .fc-event-main {
	color: black !important;
	text-align: center !important;
}

body .ui-dialog .ui-dialog-titlebar {
	text-align: center;
	padding: 30px !important;
}

/* body .ui-dialog .ui-dialog-content { */
/* 	display: flex !important; */
/* 	justify-content: center !important; */
/* } */
body .ui-dialog .ui-dialog-footer {
	display: flex !important;
	flex-direction: column;
	justify-content: center !important;
	text-align: center;
}

.btnConfirmExcluConsulta {
	display: block;
	margin: 20px;
	text-align: center
}

.colunaAcoes {
	display: flex;
	flex-direction: column;
	gap: 0.1em;
}

ul.ui-tabs-nav {
	justify-content: center !important;
}

.ui-menuitem {
	margin: 20px;
	max-width: 150px !important;
	width: auto !important;
}

body .ui-menu.ui-menubar {
	height: auto !important;
}

html, body {
	height: 100vh;
}

body {
	font-size: var(--tamanhoFonte) !important;
	font-family: var(--fonte) !important;
	/* 	background-image: url("../img/azulClaro.png?V=2") !important; */
	background-repeat: repeat !important;
	background-color: var(--corBackBody);
}

.ajax-status {
	width: 200px;
	height: 100px;
	margin: auto;
}

.containerPanelImgTemplate {
	width: auto !important;
	height: auto !important;
	display: flex;
	justify-content: center; /* Centraliza apenas o conteúdo */
	align-items: center;
}

.ui-fileupload-content {
	padding: 0 !important;
	margin: 0 !important;
	height: 0 !important;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .5rem !important;
	margin: 0 !important;
}

#frmEditFotoPerfil {
	margin: 1rem;
	padding: 0;
}

.ui-panelgrid .ui-panelgrid-cell {
	margin: 0 !important;
	padding: .3rem !important;
}

.panelImgTemplate {
	width: 450px !important;
	height: auto !important;
	display: flex;
	justify-content: center !important;
	align-items: center !important;
	position: relative;
}

.statusPaciente {
	z-index: var(--ajaxZIndex);
}

.imgCropper {
	flex-grow: 1;
}

.dialog {
	margin: auto !important;
	position: absolute !important;
}

.fonteUsuario {
	color: white;
	font-size: var(--tamanhoFonte) !important;
}

.destacarPagamento {
	background-color: silver !important;
	color: black !important;
}

tr[aria-selected=true] {
	background-color: #186ba0 !important;
	color: white !important;
}

.pMessages {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}

.btnCancelarPagamento {
	background-color: #eb867f !important;
	color: white !important;
}

#corpoDaPagina {
	padding: 0 auto;
	margin: 0;
}

.ui-panelgrid-cell {
	background-color: #f1f1f1 !important;
}

.barra-logo {
	height: 110px !important;
	background: var(--corMenu) !important;
	width: 100%;
	padding: 0px;
	margin-bottom: 50px;
	clear: both;
	position: sticky;
	top: 0;
	z-index: 100;
}

.containerUser {
	display: flex;
	align-items: center; /* alinha verticalmente a imagem e o texto */
	justify-content: flex-end; /* alinha tudo à direita */
	gap: .3em;
	height: 100% !important;
}

.divImgLogoTop {
	float: left;
	display: flex;
	justify-content: center; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
	height: 100% !important;
}

.infoUser {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	font-size: var(--tamanhoFonte) !important;
	margin: auto 5px;
	height: 100% !important;
}

.imagens {
	width: 95px;
	height: 95px;
	border-radius: 50%;
	object-fit: cover;
}

.imgRecortada {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.fotoUser {
	flex-shrink: 0;
	float: left;
	display: flex;
	justify-content: center; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
	height: 100% !important;
	margin: 0 1em;
}

ui-button-text.ui-c .ui-menu .ui-menuitem-text {
	font-weight: bold !important;
}

.ajax-status {
	position: fixed;
	top: 85px;
	right: 10px;
	width: 35px;
	height: 35px
}

.ui-wizard-step-title {
	margin-top: 2em ! important;
	/* 	font-size: 14px !important; */
}

.estiloBotao {
	background-color: red !important;
	color: white !important;
}

.textAreaLembrete {
	width: 375px !important;
	height: 150px ! important;
	padding: 0px !important;
	margin: 0px !important;
}

.tituloTemplate {
	line-height: 30px;
	color: white;
}

.botaoExcluirLembrete {
	margin-left: 250px !important;
}

.divUsuario {
	text-align: justify;
	padding-left: 10px;
}

.tituloPagina {
	margin: 10px !important;
	color: var(--corTitulo);
	text-align: left !important;
	font-size: 20px !important;
	font-weight: bold !important;
}

.infoUser a {
	color: #add8e6;
	font-weight: bold;
	text-decoration: underline;
}

.imgLogo {
	width: 130px !important;
	height: auto !important;
	float: left;
}

.imgLogoLogin {
	width: 120px !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
}

#container {
	clear: both !important;
	min-height: 800px;
	height: auto;
}

.label {
	color: #CCCCCC !important;
}

.ui-message-dialog .ui-dialog-content {
	padding: 0.5em !important;
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
	padding: 0.6em 0.5em !important;
}

button.ui-button.ui-state-default span, .ui-button.ui-state-default span
	{
	font-size: 14px !important;
}

.footer {
	height: 120px;
	background: var(--corMenu) !important;
	margin: 5px auto;
	display: flex !important;
	justify-content: space-between; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
	padding: 20px;
	background-color: #f0f0f0;
}

.nomeUsuario {
	color: white;
}

#idToolbar {
	clear: both;
	margin: 100px;
}

.tabela {
	margin-top: 30px;
}

.panelCadastroConsulta {
	margin: 2em !important;
}

.dialogInserirFoto {
	z-index: var(--dialogImagemZIndex);
	width: 100vh !important;
	height: auto !important;
	overflow: scroll !important;
}

.panelGridConsulta {
	margin: 2em !important;
	padding: 2em !important;
}

.ui-panelgrid-cell {
	padding: 20px !important;
}

.labelPaciente {
	width: 135px;
}

.labelConsulta {
	width: 150px !important;
}

.spacer {
	width: 10px !important;
}

.campoConsultaImg {
	width: 200px;
}

.semBorda tr, .semBorda td {
	border: none !important;
}

.ui-panelgrid-cell {
	background-color: #c4c4c4;
}

.tituloEstadoConsulta {
	font-size: 18px !important;
	font-weight: bold !important;
}

.panelGrid {
	margin: 2em;
	margin-right: 1em;
}

.campoConsulta {
	width: 200px !important;
}

.imgFooter {
	position: absolute;
	left: 20px;
}

.tituloFooter {
	width: 100%;
	height: 100%;
	color: white !important;
	margin-right: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.tituloFooter h5, .tituloFooter h6 {
	height: 30px; /* Ajuste conforme necessário */
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.labelOrcamento {
	width: 100px;
}

.imagem-centralizada {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	max-height: 300px;
	object-fit: contain;
}

.nomeDesenvolvedor {
	text-decoration: none;
	color: white;
}

.finalizado {
	background-color: red;
}

.containerLogin {
	display: flex;
	flex-wrap: wrap;
	justify-content: center !important;
	align-content: center !important;
	margin: 0 !important;
	padding: 0 !important;
	height: 100dvh;
}

.panelLogin {
	background: var(--corMenu) !important;
	display: flex;
	align-items: center;
	width: 450px;
	height: 250px;
	flex-direction: column;
	margin: 0 !important;
	padding: 0 !important;
}

.divImgLogo {
	width: 300px;
}

.tituloEstadoPagamentoParcela {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	font-size: 18px !important;
	font-weight: bold !important;
	font-size: 18px !important;
	display: block !important;
}

.btnMenu {
	display: none;
}

.ui-menuitem-icon.ui-icon {
	margin-right: 4px !important;
}

.themeSwitch {
	margin: 20px;
	position: absolute;
	width: 160px;
	padding: 0;
	right: 20px;
}

.panelGConsulta {
	margin-bottom: 50px;
}

.panelGConsulta>:first-child {
	margin-bottom: 5px !important;
	display: block !important;
}

input.estiloNome {
	width: 100% !important;
	max-width: 350px !important;
	display: block !important;
}

.autoCompleteContainer {
	width: 100% !important;
}

.ui-panel-titlebar {
	text-align: center !important;
}

.colunaDivThemeSwitch {
	position: relative;
	min-height: 60px;
}

.ui-menuitem a {
	font-size: var(--tamanhoFonte) !important;
}

body .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active>.ui-menuitem-link span
	{
	color: white !important;
}

body .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active>.ui-menuitem-link
	{
	background: var(--corMenu) !important;
}
/* 	definir o tamanho do link dentro do menu */
ul.ui-widget-content {
	width: 200px !important;
	min-width: 200px !important;
	max-width: 200px !important;
	box-sizing: border-box;
}

ul.ui-widget-content>li.ui-menuitem.ui-widget.ui-corner-all {
	width: 100% !important;
	display: flex !important;
	min-width: 200px !important;
	flex-wrap: nowrap;
	align-items: stretch; /* Faz o <a> se ajustar ao tamanho do <li> */
}

/* Configurar A para expandir corretamente */
ul.ui-widget-content>li.ui-menuitem.ui-widget.ui-corner-all>a.ui-menuitem-link.ui-corner-all
	{
	flex-grow: 1;
	width: calc(100% - 50px);
	/* Subtrai os 25px de padding esquerdo e direito */
	display: block;
}

/* Ajuste do LI para evitar margem externa */
ul.ui-widget-content>li.ui-menuitem.ui-widget.ui-corner-all, ul.ui-widget-content
	{
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important; /* Força o LI a ocupar o espaço total */
}

ul.ui-widget-content>li.ui-menuitem.ui-widget.ui-corner-all>a.ui-menuitem-link.ui-corner-all>span
	{
	flex-shrink: 0; /* Evita que os spans encolham */
}

.ui-spinner-button {
	z-index: auto !important;
}

/* 	definir o tamanho do link dentro do menu */
@media ( max-width : 800px) {
	div.ui-menu.ui-menu-dynamic::before, div.ui-menu.ui-menu-dynamic::after
		{
		content: none !important;
		display: none !important;
		width: 0 !important;
		height: 0 !important;
	}
	div.ui-menu.ui-menu-dynamic {
		position: relative !important;
		width: 230px !important;
		height: auto !important;
		color: black !important;
	}
	div.ui-menu.ui-menu-dynamic ul.ui-menu-list.ui-helper-reset {
		min-width: 100% !important;
		min-height: 100% !important;
		display: block !important;
		position: absolute !important;
		overflow: auto !important;
		position: absolute !important;
		right: 115px !important;
		top: -95px !important;
		box-shadow: 0 1px 1px rgb(0, 0, 0, .5), 0 -1px 1px rgb(0, 0, 0, .5), 1px
			0 1px rgb(0, 0, 0, .5), -1px 0 1px rgb(0, 0, 0, .5);
		position: absolute !important;
	}
	div.ui-menu.ui-menu-dynamic ul.ui-menu-list.ui-helper-reset li, div.ui-menu.ui-menu-dynamic ul.ui-menu-list.ui-helper-reset li a,
		div.ui-menu.ui-menu-dynamic ul.ui-menu-list.ui-helper-reset li a span
		{
		width: 100% !important;
		height: 100% !important;
		display: block; /* Certifique que estão visíveis */
		visibility: visible;
		color: black !important;
		opacity: 1;
	}
	.ui-menuitem-link:active {
		background-color: var(--corMenu) !important;
	}
	/* 	definir o tamanho do link dentro do menu */
	ul.ui-widget-content {
		width: 200px !important;
		min-width: 200px !important;
		max-width: 200px !important;
		box-sizing: border-box;
	}
	ul.ui-widget-content>li.ui-menuitem.ui-widget.ui-corner-all {
		width: 100% !important;
		display: flex !important;
		min-width: 200px !important;
		flex-wrap: nowrap;
		align-items: stretch; /* Faz o <a> se ajustar ao tamanho do <li> */
	}

	/* Configurar A para expandir corretamente */
	ul.ui-widget-content>li.ui-menuitem.ui-widget.ui-corner-all>a.ui-menuitem-link.ui-corner-all
		{
		flex-grow: 1;
		width: calc(100% - 50px);
		/* Subtrai os 25px de padding esquerdo e direito */
		display: block;
	}

	/* Ajuste do LI para evitar margem externa */
	ul.ui-widget-content>li.ui-menuitem.ui-widget.ui-corner-all, ul.ui-widget-content
		{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important; /* Força o LI a ocupar o espaço total */
	}
	ul.ui-widget-content>li.ui-menuitem.ui-widget.ui-corner-all>a.ui-menuitem-link.ui-corner-all>span
		{
		flex-shrink: 0; /* Evita que os spans encolham */
	}

	/* consertar o problema do menu mobile com top 0 */
	.ui-menu.ui-menubar {
		padding: 0 !important;
	}
	body .ui-menu .ui-menu-list .ui-menuitem {
		transition: none !important;
	}
	ul.ui-menu-list li.ui-menuitem a span.ui-menuitem-text {
		display: inline-block;
		text-align: center;
		white-space: nowrap;
		width: 100px; /* ou qualquer valor necessário */
	}
	.ui-menuitem a, .ui-menuitem-link {
		transition: none !important;
	}
	.ui-menu .ui-menu-child, .ui-menu .ui-menu-child .ui-menuitem-link {
		transition: none !important;
	}
	body {
		font-size: var(--fonteMobileSize) !important;
	}
	.ui-menubar .ui-menuitem-link {
		color: white !important;
	}
	span.ui-icon-triangle-1-s {
		background-color: white !important;
	}
	ul.ui-menu-list {
		position: absolute;
		display: none;
		flex-wrap: wrap;
		background: var(--corMenu);
		align-items: center;
		width: 100% !important;
		max-width: 1200px;
		justify-content: center;
		align-items: center;
		background: var(--corMenu);
		justify-content: center;
		z-index: var(--menuZIndex);
	}
	.showMenu {
		position: absolute;
		display: flex !important;
		justify-content: center;
		flex-direction: column;
		width: 100% !important;
		max-width: 1200px;
		z-index: var(--menuZIndex);
	}
	div.ui-menu.ui-menubar.ui-widget {
		top: var(--DIV_MENU_TOP) !important;
	}
	ul.ui-menu-list>li {
		position: relative;
	}
	body .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active>.ui-menuitem-link
		{
		background: var(--corMenu) !important;
	}
	body .ui-menu .ui-menu-list .ui-menu-child {
		background: var(--corMenu) !important;
	}

	/* Esconder submenu com hover */
	ul.ui-menu-list>li:hover ul.ui-widget-content {
		display: block;
	}
	ul.ui-menu-list li.ui-widget span {
		color: white !important;
	}
	.btnMenu {
		margin: 25px 25px;
		display: block;
	}
	.show-submenu {
		display: block !important;
	}
	ul.ui-menu-list li ul.ui-widget-content {
		position: absolute !important;
		background: var(--corMenu);
		top: 100% !important;
		left: 50% !important;
		transform: translateX(-50%) !important;
		z-index: 9999 !important;
		top: 100% !important
	}
	.ui-menu .ui-menu-list .ui-menuitem {
		border: 0;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.ui-menu-list .ui-menuitem-link a {
		color: white !important;
	}
	body .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active>.ui-menuitem-link
		{
		background: var(--corMenu) ! important;
	}
	.ui-menuitem-link.ui-submenu-link.ui-corner-all.ui-state-hover {
		background: var(--corMenu) ! important;
	}
	body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-icon-triangle-1-s:last-child
		{
		color: black !important;
	}
}